@media (max-width: 1024px){
    .center{ 
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
}
.items1{
 height: 268px;
}
.items2{
    height: 268px;
}
.items3{
    height: 242px;
}
.items4{
    height: 242px;
}
.items5{
    height: 242px;
}
.special{
    gap: 29px;
}
.catalog{
    gap: 29px
}
.logo_foot{
    display:none;
}
}

