* {
  margin: 0;
  padding: 0;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: "Montserrat";
  text-decoration: none;
}

.linkcatalog:hover {
  text-decoration: none;
  color: grey;
}

.link:hover {
  text-decoration: underline;
  color: grey;
}

.top {
  height: 735px;
  background-image: url("../img/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.menu-mob {
  display: none;
}

.header_input {
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  width: 288px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header_input::-moz-placeholder {
  color: #FFFFFF;
}

.header_input::placeholder {
  color: #FFFFFF;
}

.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 18.5px;
}

.navigation {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 32px;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-family: "Montserrat";
  color: #FFFFFF;
  max-width: 792px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #FFFFFF;
}

.linkcatalog {
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat";
  font-weight: 400;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.special {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 32px;
}

.title_special {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 32px;
  font-family: "Montserrat";
  margin-top: 64px;
}

.product {
  width: 378px;
  position: relative;
  transition: all 0.3s;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #888888;
}

.title_chair {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 8px;
  font-family: "Montserrat";
}

.text_chair {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  font-family: "Montserrat";
  margin-top: 10px;
}

.price_box {
  display: flex;
  gap: 32px;
}

.textprice {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  font-family: "Montserrat";
}

.textprice1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
  font-family: "Montserrat";
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 32px;
}

.foot {
  background-color: #F7F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 32px;
}

.link_foot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888;
  font-family: "Montserrat";
  text-decoration: none;
}

.link_foot:hover {
  text-decoration: underline;
  color: black;
}

.linkcatalogfoot {
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat";
  font-weight: 400;
  text-decoration-line: underline;
  color: #000;
}

.linkcatalogfoot:hover {
  text-decoration: none;
  color: grey;
}

.logo_foot {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 32px;
  font-family: "Montserrat";
  color: #000;
}
.menu_nav {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.menu_nav_logo {
  display: flex;
  justify-content: space-around;
}

.menu_nav_icon {
  transition: all 0.13s;
}

.menu_nav_icon:hover path {
  fill: #000;
}

.linkcat {
  margin-top: 39px;
  margin-bottom: 64px;
}

.contact {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.news {
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-weight: 400;
}

.email {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat";
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sign {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 15px;
  line-height: 18px;
  font-family: "Montserrat";
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 13px;
  padding-bottom: 13px;
  transition: all 0.3s;
}
.sign:hover {
  background-color: black;
  color: #FFFFFF;
}

.email::-moz-placeholder {
  color: #C4C4C4;
}

.email::placeholder {
  color: #C4C4C4;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
}

.for_item {
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 415px;
  transition: all 0.3s;
}
.for_item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #888888;
}

.items1 {
  background-image: url("../img/for1.jpg");
}

.items2 {
  background-image: url("../img/for2.jpg");
}

.for_item_little {
  grid-column: span 4;
  height: 379px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.for_item_little:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #888888;
}

.items3 {
  background-image: url("../img/for3.jpg");
}

.items4 {
  background-image: url("../img/for4.jpg");
}

.items5 {
  background-image: url("../img/for5.jpg");
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.top-basket {
  height: 400px;
  background-image: url("../img/topcart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.logo {
  padding-top: 16px;
}

.basket {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.basket_content {
  display: grid;
  grid-column: span 8;
}

.basket_name_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 0.5px solid #CACDD8;
}

.basket_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid #CACDD8;
  margin-top: 25px;
  padding-bottom: 32px;
}

.basket_form {
  display: grid;
  grid-column: span 4;
  box-sizing: border-box;
  background-color: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  width: 379px;
  justify-items: center;
}
.basket_form_button:hover {
  animation: myAnim 3s ease 0s 1 normal forwards;
}

.basket_card {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.basket_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.number {
  background-color: #F7F6F6;
  border-radius: 6px;
  border-color: transparent;
  width: 71px;
  height: 51px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
}

.title_basket {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.image {
  width: 173px;
  height: 173px;
}

.text_basket {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.price {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #050505;
}

.link_info {
  font-family: "Montserrat";
  color: grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
  text-decoration-line: underline;
  color: grey;
}

.button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.button_basket {
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  width: 200px;
  height: 37px;
  text-align: center;
  margin-bottom: 159px;
  margin-top: 20px;
  transition: all 0.3s;
}
.button_basket:hover {
  background-color: black;
  color: white;
}

.title_form {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  width: 379px;
  height: 36px;
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.text_form {
  box-sizing: border-box;
  width: 288px;
  border-bottom: 1px solid #CACDD8;
  font-family: "Montserrat";
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding-bottom: 4px;
  padding-top: 41px;
  font-weight: 400;
  font-size: 14px;
}

.summa {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-top: 64px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .basket {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .basket_content {
    grid-column: span 4;
  }
  .image {
    display: none;
  }
  .title_basket {
    font-size: 18px;
    line-height: 22px;
  }
  .text_basket {
    font-size: 12px;
    line-height: 15px;
  }
  .price {
    font-size: 12px;
    line-height: 15px;
  }
  .basket_info {
    gap: 15px;
  }
  .button_basket {
    width: 163px;
    height: 37px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 48px;
  }
  .basket_form {
    width: 343px;
    height: 556px;
    justify-content: center;
  }
  .product {
    box-sizing: content-box;
    padding: 3px;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .items1 {
    height: 268px;
  }
  .items2 {
    height: 268px;
  }
  .items3 {
    height: 242px;
  }
  .items4 {
    height: 242px;
  }
  .items5 {
    height: 242px;
  }
  .special {
    gap: 29px;
  }
  .catalog {
    gap: 29px;
  }
  .logo_foot {
    display: none;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .head {
    padding-top: 32px;
  }
  .header_input {
    display: none;
  }
  .link {
    display: none;
  }
  .logo {
    width: 99px;
    padding-top: 0;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .text {
    text-align: center;
    font-size: 16px;
  }
  .linkcatalog {
    text-align: center;
    font-size: 14px;
  }
  .title_special {
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
  }
  .items {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for_item {
    grid-column: 1/-1;
    font-size: 28px;
    line-height: 34px;
    height: 244px;
  }
  .for_item_little {
    height: 375px;
  }
  .product {
    width: 343px;
  }
  .product_img {
    width: 342px;
  }
  .title_chair {
    font-size: 18px;
    line-height: 22px;
  }
  .text_chair {
    margin-bottom: 10px;
  }
  .textprice {
    font-size: 18px;
    line-height: 22px;
  }
  .textprice1 {
    font-size: 18px;
    line-height: 22px;
  }
  .linkcat {
    margin-top: 37px;
    margin-bottom: 32px;
  }
  .logo_foot {
    display: none;
  }
  .foot {
    justify-content: space-around;
  }
  .form {
    margin-top: 34px;
  }
  .sign {
    margin-bottom: 32px;
  }
}/*# sourceMappingURL=style.css.map */